---
import Icon from "./Icon.astro";
import type { IconName } from "src/types";

export type TCarouselItem = {
  title: string;
  description: string;
  imgDescription: string;
  imgUrl: string;
  technologies: IconName[];
};

export interface Props extends TCarouselItem {
  index: number;
}

const { description, imgUrl, imgDescription, title, index, technologies } =
  Astro.props;
---

<li
  data-active={index === 0}
  style={`--rotationY: ${index * 60}deg`}
  class="carouselItem"
>
  <img src={imgUrl} alt={imgDescription} />
  <div>
    <h5>{title}</h5>
    <p>{description}</p>

    <ul>
      {
        technologies.map(icon => (
          <li>
            <Icon size={"tiny"} name={icon} />
          </li>
        ))
      }
    </ul>
  </div>
</li>

<style>
  * {
    -webkit-transform-origin: 50% 51%;
    zoom: 1.005;
    will-change: transform;
  }

  h5 {
    margin: 0.5rem auto 0.7rem;
  }

  p {
    margin: 0 auto;
    font-size: 0.8rem !important;
  }

  div {
    padding: 0.5rem;
    background-color: var(--primary-color);
  }
  img {
    display: block;
    width: 70%;

    padding: 0.2rem;
    background: linear-gradient(45deg, orange 50%, cyan);

    border-radius: 5px;
  }

  ul {
    background-color: var(--terciary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;

    gap: 0.5rem;

    width: max-content;
    margin: 1rem auto;
    border-radius: 5px;
  }

  li {
    display: flex;
  }
  li img {
    align-self: center;
  }
  .carouselItem {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 1rem;

    position: absolute;

    max-width: 50vw;
    min-width: 100px;
    width: 400px;
    height: auto;

    text-align: center;
    border-radius: 5px;
    color: #fff;

    transform: rotateY(var(--rotationY)) translateZ(400px);
    transition: opacity 0.3s ease-out, background 1s ease-out;

    will-change: transform;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;

    opacity: 0.4;

    user-select: none;
  }

  .carouselItem[data-active] {
    opacity: 1;
    background: linear-gradient(to left top, var(--terciary-color), blue);
    user-select: auto;
  }

  @media screen and (max-width: 1000px) {
    .carouselItem {
      width: 50vw;
      transform: rotateY(var(--rotationY)) translateZ(50vw);
    }
  }
</style>
