---
import projectsMap from "src/assets/maps/projectsMap.json";
import Section from "src/components/shared/Section.astro";
import Icon from "../shared/Icon.astro";
import type { IconName } from "src/types";
import ProjectPicture from "../shared/ProjectPicture.astro";
---

<Section id="projects" title="My projects">
  <div class="projects_container">
    {
      projectsMap.map(
        ({
          description,
          imgDescription,
          imgUrl,
          projectUrl,
          repoUrl,
          technologies,
          title,
          isCollaborative
        }) => (
          <article
            class={`${isCollaborative ? "is_collaborative" : ""} project_card`}
          >
            <div class="project_card__picture_wrapper">
              <ProjectPicture
                imgDescription={imgDescription}
                imgUrl={imgUrl}
                projectUrl={projectUrl}
                repoUrl={repoUrl}
              />
            </div>

            <section class="project_card__info">
              <div>
                <h5>{title}</h5>
                <p>{description}</p>
              </div>

              <ul class="project_card__info__technologies">
                {technologies.map(tech => (
                  <li class="project_card__info__technologies__item">
                    <Icon name={tech as IconName} size="small" />
                  </li>
                ))}
              </ul>
            </section>
          </article>
        )
      )
    }
  </div>

  <p class="cta__paragraph">
    Want to see more? <a href="https://github.com/genaroibc"
      >Check out my GitHub profile</a
    >
  </p>
</Section>

<style>
  .projects_container {
    display: flex;

    flex-direction: column;
    gap: 5rem;
  }

  .project_card {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    border-radius: 1rem;
    position: relative;

    animation: fadeIn linear both;
    animation-timeline: view(block);
    animation-range: entry 60% entry 110%;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(4rem) scale(0.6);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .project_card.is_collaborative::after {
    content: "collaborative";
    padding: 0.5rem 3rem;
    position: absolute;
    top: 2rem;

    left: -3rem;
    background-color: #0c0c4c;
    color: #d2ddff;
    transform: rotateZ(-45deg);
  }

  .project_card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;

    padding: 2rem;
  }

  .project_card__picture_wrapper {
    width: 100%;
  }

  .project_card__info__technologies {
    display: flex;
    gap: 0.5rem;
    background-color: #d2ddff;

    border-radius: 4px;
    padding: 0.5rem;
    align-items: center;
    width: fit-content;
    align-self: end;
  }

  .project_card__info__technologies__item {
    display: flex;
    align-items: center;
    align-self: end;
  }

  .cta__paragraph {
    text-align: center;
    margin: 3rem auto;
  }

  @media screen and (min-width: 768px) {
    .project_card {
      flex-direction: row;
    }

    .project_card__info {
      width: 100%;
    }
    .project_card__picture_wrapper,
    .project_card__info {
      width: 50%;
    }
  }
</style>
